body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #14b6ff; /* Azul igual ao card */
    text-align: center;
}

.container {
    width: 95%;
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
}

.titulo-img {
    width: 90%;
    margin-top: 10px;
}

.subtitle {
    font-size: 20px;
    color: white;
    margin: 10px 0;
}

.info-bar {
    background: red;
    padding: 12px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    margin: 15px 0;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.btn {
    background: #4cd964;
    padding: 14px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.btn:hover {
    opacity: 0.9;
}

.subtitle2 {
    margin-top: 25px;
    color: white;
    font-size: 22px;
}

.price {
    background: red;
    display: inline-block;
    padding: 10px 22px;
    font-size: 22px;
    color: white;
    border-radius: 25px;
    margin: 20px 0;
}

.premios-img {
    width: 100%;
    margin-top: 20px;
}